doctype html
html(lang=lang)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='We have not yet figured out what will be on this page')
    meta(name='author', content='')
    title= "Sorry! There is no content"
    link(href='/bootstrap/css/landing-page.css', rel='stylesheet')
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')

  body
    nav.navbar.navbar-default.navbar-fixed-top.topnav(role='navigation')
      .container.topnav
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.topnav(href='/') Go Leading Page
        
    a(name='Error')
    .intro-header-error
      .container
        .row
          .col-lg-12
            .intro-message
            